@font-face{
	src: url(../fonts/neve_zedeq_oeregular.ttf);
	font-family: neve;

}

body{
	background-color: black;
	margin: 0 auto; 


}

p{
	font-family: 'neve';
	color: white;
}

main{
	max-width: 800px;
	margin: 0 auto;
}

img{
	max-width: 100%;
}

.video-container{
  width:53vw;
  height:50vh;
  overflow:hidden;
  position:relative;
}


.video-container iframe,{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container iframe, {
  pointer-events: none;
}
.video-container iframe{
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: calc(100% + 120px);
}
.video-foreground{
  pointer-events:none;
}
