*{
	box-sizing: border-box;
}
@font-face{
	src: url(../fonts/love.otf);
	font-family: love;

}
@font-face{
	src: url(../fonts/bristol.otf);
	font-family: bristol;
}

body{
	background-color: black;
}



main{
	margin: 0 auto;
	max-width: 700px;
}

/*headlines today tomorrow kolnoa kanada*/
.glowey{
	width: 450px;
	padding: 50px 0px 64px;
	display: block;
	box-sizing: content-box;
	margin: 0 auto;
}

/*video outer glow*/
.glow{
	filter: blur(20px);
	width: 100%;
	display: none;
}

.hatzerim{
	width: 110px;
	display: block;
	margin: 0 auto;

}

/*smoking*/
.smoker{

}
.ashtray{
	width: 90px;
	float: right;
	margin: -104px -186px 1px 0px;
}
.hand{
	width: 100px;
	float: right;
	margin: -176px -320px 0px 0px

}
.smoke{
	width: 100px;
	float: right;
	margin: -407px -364px 0px 0px;
}


.kol{
	font-family: helvetica neue;
	font-style: normal;
	font-weight: 500;
	margin: 0;
	font-size: 2rem;
	line-height: 1.1;
	color: white;
	text-align: center;
}



/*youtube embed style*/
.video-container{
  height:49vh;
  overflow:hidden;
  position:relative;
  margin-top: -40px;
}
.video-container iframe,{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
.video-container iframe, {
  pointer-events: none;
}
.video-container iframe{
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: calc(100% + 120px);
}
.video-foreground{
  pointer-events:none;
}

.social{
}

/*footer*/
footer{
	float: left;
	padding: 50px;
	margin: 0px 0px 0px -20px;
}

/*insta link*/
a{
	font-family: 'kobe';
	color: #480000;
	font-size: 13px;
	text-decoration: none;
}

a:hover{
	color: #bd0000	;
	font-size: 14.5px;
	font-family: kobe;
}
